rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{orderId} {
      // Allow customers to submit orders and admin to view/update
      allow create, read, update, delete: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}

